<div class="col-xs-12 field container top-margin" id="users-new">
  <h2>Sign Up</h2>
  <%= bootstrap_form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>

    <%= f.text_field :username, icon: "user" %>
    <%= f.email_field :email, icon: "envelope" %>
    <%= f.password_field :password, icon: "asterisk" %>
    <%= f.password_field :password_confirmation, label: "Retype Password", icon: "asterisk" %>
    <%= f.submit "Submit", class: "btn btn-success btn-block no-margin" %>
  <% end %>
</div>

<script>HideSearchToggle()</script>
