<div class="field container top-margin" id="users-new">
  <div class="row col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <h1>Sign Up</h1>
    <%= bootstrap_form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>

      <%= f.text_field :username, icon: "user" %>
      <%= f.email_field :email, icon: "envelope" %>
      <%= f.password_field :password, icon: "asterisk" %>
      <%= f.password_field :password_confirmation, icon: "asterisk" %>
      <%= f.submit "Submit", class: "btn btn-success" %>

    <% end %>
  </div>
</div>
