<!DOCTYPE html>
<html>
<head>
  <title>PlayspaceApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, message| %>
  <div class="flash-message flash-message-<%= name %>">
    <%= message %>
  </div>
<% end %>

<% if current_user %>
  <p> hello, <%= current_user.username %> </p>
  <%= link_to 'Logout', logout_path, method: :delete, data: {confirm: 'Are you sure?'} %>
<% else %>
  <%= link_to 'Sign up', new_user_path %>
  <%= link_to 'Login', login_path %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <%= yield %>
  </div>
</div>

</body>
</html>
