<div class="row">
  <div class="col-xs-12">

    <%= bootstrap_form_for(@playspace) do |f| %>
      <div>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, :prompt => 'Select') %>
      </div>
      <div>
        <%= f.select(:region, ["", "HK", "Kln", "NT"]) %>
      </div>
      <div>
        <%= f.select(:district, []) %>
      </div>
      <div>
        <%= f.text_field :address %>
      </div>
      <div>
        <%= f.file_field :photo %>
      </div>

    <div class="row">

      <div class ="col-lg-3 portfolio-item">
        <div>
          <%= f.check_box :bike_path %>
        </div>
        <div>
          <%= f.check_box :merry_go_round, label: "Merry-go-round" %>
        </div>
        <div>
          <%= f.check_box :play_structure %>
        </div>
      </div>

      <div class="col-lg-3 portfolio-item">
        <div>
          <%= f.check_box :seesaw %>
        </div>
        <div>
          <%= f.check_box :slide %>
        </div>
        <div>
          <%= f.check_box :swing %>
        </div>
      </div>

      <div class="col-lg-3 portfolio-item">
        <div>
          <%= f.check_box :carpark %>
        </div>
        <div>
          <%= f.check_box :snack_shop %>
        </div>
        <div>
          <%= f.check_box :wc, label: "Toilet" %>
        </div>
      </div>

      <div>
      <%= f.submit "Create Playspace", class: "btn btn-success btn-block no-margin" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
