<div class="top-margin" id="playspaces-index">
  <h1><%= @category.name.capitalize if @category %> Playspaces</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <ul class="list-unstyled list-inline">
          <% @playspaces.each do |playspace| %>
            <li class="col-xs-12 col-sm-4 col-md-3 add-padding">
              <span>
                <%= avg_rating(playspace) %>
              </span>
              <span class="name"><%= link_to playspace.name, playspace_path(playspace) %></span>
              <br>
              <span class="district"><em><%= playspace.district %>, <%= playspace.region %></em></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>PlayspaceSidebar()</script>
