<div class="top-margin" id="playspaces-index">
  <h1><%= @category.name.capitalize if @category %> Playspaces</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <ul class="list-unstyled list-inline">
          <% if @playspaces.empty? %>
            <h1>No Results</h1>
          <% else %>
            <% @playspaces.each do |playspace| %>
              <li class="col-xs-6 col-lg-3 add-padding pull-left">
                <div>
                  <%= image_tag playspace.photo.url %>
                </div>
                <span>
                  <%= avg_rating(playspace) %>
                </span>
                <span class="name"><%= link_to playspace.name.titleize, playspace_path(playspace) %></span>
                <br>
                <span class="district"><em><%= playspace.district.titleize %>, <%= playspace.region.titleize %></em></span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>PlayspaceSidebar()</script>
