<div class="row top-margin" id="playspaces-show">
  <div class="col-xs-12 col-sm-10 col-md-8">

    <div class="col-xs-8">
      <div><strong><%= @playspace.name.titleize %></strong></div>
      <div class="bottom-margin"><em><%= @playspace.district.titleize %>, <%= @playspace.region %></em></div>
      <div>Address: <%= @playspace.address.titleize %></div>
    </div>

    <div class="col-xs-4">
      <%= link_to 'Reviews', playspace_reviews_path(@playspace.id), class: "btn btn-default" %>
    </div>

    <div class="col-xs-12">
      <h6>Features:</h6>
        <span class="playspace-features">
          <% @features = ["bike_path", "merry_go_round", "play_structure", "seesaw", "slide", "swing", "carpark", "snack_shop" "wc"] %>
          <% @array = [] %>
          <% @features.each do |feature| %>
            <% if @playspace[feature] %>
              <% @array.push(feature.titleize) %>
            <% end %>
          <% end %>
          <%= @array.to_sentence %>
        </span>
    </div>
  </div>
</div>