<div class="container-fluid top-margin" id="playspaces-show">

  <div class="playspace-name"><strong><%= @playspace.name.titleize %></strong></div>
  <div class="playspace-district"><em><%= @playspace.district.titleize %>, <%= @playspace.region %></em></div>
  <div class="playspace-address">Address: <%= @playspace.address.titleize %></div>

  <h6>Features</h6>
    <span class="playspace-features">
      <% @array = [] %>
      <% @features.each do |feature| %>
        <% if @playspace[feature] %>
          <% @array.push(feature.titleize) %>
        <% end %>
      <% end %>
      <%= @array.to_sentence %>
    </span>

</div>