<div class="container top-margin" id="playspaces-show">

  <div class="row">
    <div class="col-xs-8">
      <div>
        <%= avg_rating(@playspace) %>
      </div>
      <div><strong><%= @playspace.name.titleize %></strong></div>
      <div class="bottom-margin"><em><%= @playspace.district.titleize %>, <%= @playspace.region.upcase %></em></div>
      <div>Address: <%= @playspace.address.titleize %></div>
    </div>
    <div class="col-xs-4">
      <%= link_to 'Reviews', playspace_reviews_path(@playspace.id), class: "btn btn-default" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 features">
      <h6>Features</h6>
      <span class="features-list"><%= features_list(@playspace) %></span>
    </div>
  </div>

</div>
