<%= bootstrap_form_for @review, url: playspace_reviews_path(@playspace.id) do |f| %>
  <% if @review.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @review.errors.full_messages %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.text_field :comment %>
  <%= f.select :rating, [1, 2, 3, 4, 5] %>
  <%= f.submit %>

<% end %>
