<div class="container top-margin" id="reviews-index">

  <div class="row">
    <div class="col-xs-8">
      <div>
        <%= avg_rating(@playspace) %>
      </div>
      <div><strong><%= @playspace.name.titleize %></strong></div>
      <div><em><%= @playspace.district.titleize %>, <%= @playspace.region.upcase %></em></div>
      <div class="playspace-address">Address: <%= @playspace.address.titleize %></div>
    </div>
    <div class="col-xs-4">
      <%= link_to 'Back', playspace_path(@playspace.id), class: "btn btn-default" %>
    </div>
  </div>

  <% if current_user %>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 well">
        <%= render 'form' %>
      </div>
    </div>
  <% else %>
    <div>
      <h6><%= link_to 'Log in', login_path %> to add a review</h6>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12">
      <ul class="list-unstyled reviews">
        <% @reviews.each do |review| %>
          <li class="stars">
            <% review.rating.times do %>
              <span class="glyphicon glyphicon-star yellow"></span>
            <% end %>
          </li>
          <li class="comment"><p>"<%= review.comment %>" ~ <em><%= review.user.username %></em>, <small><%= review.created_at.strftime("%d-%b-%Y") %></small></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>

<script>HideSearchToggle()</script>

