<!DOCTYPE html>
<html>
<head>
  <title>PlayspaceApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Custom CSS -->
  <link href="stylesheets/sidebar.scss" rel="stylesheet">

</head>
<body>
  <!-- nav -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button href="#menu-toggle2" id="menu-toggle2" type="button" class="navbar-toggle collapsed pull-right" aria-expanded="false" class="hide">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-search"></span>
        </button>
        <button href="#menu-toggle" id="menu-toggle" type="button" class="navbar-toggle collapsed pull-left" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div id="logo">
          <%= link_to image_tag("playspace_logo.png"), root_path %>
        </div>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button href="#menu-toggle3" id="menu-toggle3" type="button" aria-expanded="false" class="hide">
              <span class="sr-only">Toggle Search</span>
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /nav -->

  <div id="wrapper">
    <!-- Sidebar left -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">PlaySpace</li>
        <li><a href="#">Find a PlaySpace</a></li>
        <li><%= link_to 'About', about_path %></li>

          <% if current_user %>
            <li><%= link_to 'Logout', logout_path, method: :delete, data: {confirm: 'Are you sure?'} %></li>
            <li><%= link_to 'Add a Playspace', new_playspace_path %></li>
          <% else %>
            <li><%= link_to 'Sign up', new_user_path %></li>
            <li><%= link_to 'Login', login_path %></li>
          <% end %>
      </ul>
    </div>
    <!-- /#sidebar-wrapper left-->

    <!-- Sidebar right -->
    <div id="sidebar-wrapper-right" class="hide">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">PlaySpace</li>
        <li><a href="#">Search</a></li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper right-->

    <!-- Page Content -->
    <div id="test" class="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

  <!-- Menu Toggle Script -->
  <script>
    if (window.location.pathname == "/about"){
      $("#sidebar-wrapper-right").removeClass("hide");
      $("#menu-toggle2").removeClass("hide");
      $("#menu-toggle3").removeClass("hide");
    }

    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $("#menu-toggle2").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled-right");
    });

    $("#menu-toggle3").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled-right");
    });
  </script>

</body>
</html>
